<!--Start: -->
<center>
	<table class="container">
		<tr align="left">
			<td align="left" valign="top">

				<table class="row">
					<tr align="left">
						<td class="wrapper last" align="left" valign="top">

							<table class="twelve columns">
								<tr align="left">
									<td align="left" valign="top">
										<h1 align="left">
											<!--O2[@if (Model.AssetTypeID == 17 && !String.IsNullOrEmpty(Model.TYTitle)){@Html.Raw(Model.TYTitle)}else{@Html.Raw(Model.TYBodyContent)}]-->
										</h1>
									</td>
									<td class="expander" align="left" valign="top"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<!--O2[@if (Model.TYEmailAssetGuid != null) {]-->
				<center>
					<table class="button">
						<tr align="left">
							<td class="button-grey" align="center" bgcolor="#eeeeee" valign="top">
								<!--O2Var[buttonText=@(Model.DomainPath + "/reginbound/emailcl/" + Model.TYEmailAssetGuid)]-->
								<a id="buttonText" href="/">@Model.ButtonText</a>
							</td>
						</tr>
					</table>
				</center>
				<!--O2[}]-->

				<center>
					<table id="social-media">
						<tr align="left">
							<td align="left" valign="top"><span>Share</span></td>
							<td align="left" valign="top"><a href="https://plus.google.com/share?url=@Url.Encode(Model.CurrentPageURL)"><img
								src="http://software.dell.com/images/email/icons-google-plus.png" align="none" /></a></td>
							<td align="left" valign="top"><a
								href="https://twitter.com/share?text=@Model.Title%2C%20&amp;url=@Model.BitlyGet(Model.CurrentPageURL)&amp;via=DellSoftware"><img
								src="http://software.dell.com/images/email/icons-twitter.png" align="none" /></a></td>
							<td align="left" valign="top"><a href="https://www.linkedin.com/shareArticle?url=@Url.Encode(Model.CurrentPageURL)"><img
								src="http://software.dell.com/images/email/icons-linkedin.png" align="none" /></a></td>
							<td align="left" valign="top"><a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Model.CurrentPageURL)"><img
								src="http://software.dell.com/images/email/icons-facebook.png" align="none" /></a></td>
						</tr>
					</table>
				</center>

			</td>
		</tr>
	</table>
</center>

<!--O2[@if (Model.TYPromotions != null && Model.TYPromotions.Any()) {]-->
<table class="bg-grey" bgcolor="#f9f9f9"><tr align="left"><td class="center" align="center" valign="top">
	<center>
		<table class="container"><tr align="left"><td class="pad-vertical-30" align="left" valign="top">
			<table class="row"><tr align="left"><td class="wrapper" align="left" valign="top">
				<table class="five columns"><tr align="left"><td class="center" align="center" valign="top">
					<center>
						<!--O2[@if (!String.IsNullOrEmpty(Model.TYPromotions[0].ImageUrl)) {]-->
						<a href="@(Model.DomainPath + "/" + Model.RegInfo.SecondaryCTATacticCode)">
						<img src="@(Model.DomainPath.Replace("//de-de", "").Replace("//fr-fr", "").Replace("//br-pt", "").Replace("//mx-es", "").Replace("//jp-ja", "").Replace("//cn-zh", "") + Model.TYPromotions[0].ImageUrl)" alt="@(Model.TYPromotions[0].ImageAltText)" class="img-border center" align="none" /></a>
						<!--O2[}]-->
					</center>
				</td>
					<td class="expander" align="left" valign="top"></td>
				</tr></table></td>
				<td class="wrapper last" align="left" valign="top">
					<table class="seven columns"><tr align="left"><td align="left" valign="top">
						<h2 align="left">@Html.Raw(Model.TYPromotions[0].Title)</h2>

						<p align="left">@Html.Raw(Model.TYPromotions[0].BodyContent)</p>

						<table class="button"><tr align="left"><td align="center" bgcolor="#005a85" valign="top">
							<a href="@(Model.DomainPath +  "/" + Model.RegInfo.SecondaryCTATacticCode)">@Model.TYPromotions[0].ButtonText</a>
						</td>
						</tr></table></td>
						<td class="expander" align="left" valign="top"></td>
					</tr></table></td>
			</tr></table></td>
		</tr></table></center>
</td>
</tr></table>
<!--O2[}]-->

<!--O2[@if (!String.IsNullOrEmpty(Model.TYPromotionContent)) {]-->
<center>
	<div class="pad-vertical-20">
		<table class="container"><tr align="left"><td align="left" valign="top">

			<table class="row"><tr align="left"><td class="wrapper last" align="left" valign="top">

				<table class="twelve columns"><tr align="left"><td align="left" valign="top">@Html.Raw(Model.TYPromotionContent)</td>
				</tr></table></td>
			</tr></table></td>
		</tr></table></div>
</center>
<!--O2[}]-->

<!--End: -->