.bg-light-gray, .bg-light-grey {
  background: $color-lighter-grey;
}

.bg-white {
  background: $color-white;
}

.bg-dark-orange {
  background: $color-orange;
}

.bg-dark-blue {
  background: $color-dark-blue;
}

.bg-dark-gray, .bg-dark-grey {
  background: $color-dark-grey;
}

/*.row-purple {
  background: $color-purple;
}*/

.row-blue {
  line-height: 30px;
  background-color: $color-blue;
}

/*.row-orange {
  line-height: 30px;
  background-color: $color-orange;
}*/
