table {
  &.button {
		overflow: visible;

    &.button-width-auto {
      width: auto;
      display: inline-block;
    }
    &.button-underline {
      a, a:visited {
        text-decoration: underline;
      }
    }
    td {
			padding: 5px 15px; /* NOTE: Need to add !important when using this on O2 */
      color: $btn-default-text-color;
			white-space: nowrap; /* Prevent button from wrapping */
      a, a:visited {
        font-size: 19px;
				line-height: 1em;
        color: $btn-default-text-color;
        > span {
          color: $btn-default-text-color;
					white-space: nowrap; /* Prevent button from wrapping */
        }
      }
    }
    &:hover td {
      color: $btn-default-text-color;
      a {
        color: $btn-default-text-color !important;
      }
    }
    td a:visited, &:active td a {
      color: $btn-default-text-color !important;
      > span {
        color: $btn-default-text-color !important;
      }
    }
  }
  &.button-blue {
    td {
      background-color: $btn-blue-bg-color;
      border: 1px solid $btn-blue-border-color;
    }
    &:hover td {
      background: $btn-blue-hover-bg-color !important;
      border: 1px solid $btn-blue-hover-border-color;
    }
  }
  &.button-dark-blue {
    td {
      background-color: $btn-dark-blue-bg-color;
      border: 1px solid $btn-dark-blue-border-color;
    }
    &:hover td {
      background: $btn-dark-blue-hover-bg-color !important;
      border: 1px solid $btn-dark-blue-hover-border-color;
    }
  }
  &.button-purple {
    td {
      background-color: $btn-purple-bg-color;
      border: 1px solid $btn-purple-border-color;
    }
    &:hover td {
      background: $btn-purple-hover-bg-color !important;
      border: 1px solid $btn-purple-hover-border-color;
    }
  }
  &.button-orange {
    td {
      background-color: $btn-orange-bg-color;
      border: 1px solid $btn-orange-border-color;
    }
    &:hover td {
      background: $btn-orange-hover-bg-color !important;
      border: 1px solid $btn-orange-hover-border-color;
    }
  }
  &.button-green {
    td {
      background-color: $btn-green-bg-color;
      border: 1px solid $btn-green-border-color;
    }
    &:hover td {
      background: $btn-green-hover-bg-color !important;
      border: 1px solid $btn-green-hover-border-color;
    }
  }
  &.button-light-green {
    td {
      background-color: $btn-light-green-bg-color;
      border: 1px solid $btn-light-green-border-color;
    }
    &:hover td {
      background: $btn-light-green-hover-bg-color !important;
      border: 1px solid $btn-light-green-hover-border-color;
    }
  }
  &.button-red {
    td {
      background-color: $btn-red-bg-color;
      border: 1px solid $btn-red-border-color;
    }
    &:hover td {
      background: $btn-red-hover-bg-color !important;
      border: 1px solid $btn-red-hover-border-color;
    }
  }
  &.button-dark-red {
    td {
      background-color: $btn-dark-red-bg-color;
      border: 1px solid $btn-dark-red-border-color;
    }
    &:hover td {
      background: $btn-dark-red-hover-bg-color !important;
      border: 1px solid $btn-dark-red-hover-border-color;
    }
  }
  &.button-berry {
    td {
      background-color: $btn-berry-bg-color;
      border: 1px solid $btn-berry-border-color;
    }
    &:hover td {
      background: $btn-berry-hover-bg-color !important;
      border: 1px solid $btn-berry-hover-border-color;
    }
  }
  &.button-teal {
    td {
      background-color: $btn-teal-bg-color;
      border: 1px solid $btn-teal-border-color;
    }
    &:hover td {
      background: $btn-teal-hover-bg-color !important;
      border: 1px solid $btn-teal-hover-border-color;
    }
  }
  &.button-dark-gray {
    td {
      background-color: $btn-dark-grey-bg-color;
      border: 1px solid $btn-dark-grey-border-color;
    }
    &:hover td {
      background: $btn-dark-grey-hover-bg-color !important;
      border: 1px solid $btn-dark-grey-hover-border-color;
    }
  }
	&.button-wrapper {
		margin-top: 20px;
		.button {
			margin: 0;
		}
	}
}

.text-size-13 {
  table {
    &.button {
			td {
				//padding-bottom: 7px;
				a, a:visited {
					font-size: 13px;
					line-height: 1.3em;
				}
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  table {
    &.button {
      &.button-width-auto {
        width: 100% !important;
        display: table !important;
      }
      td {
        a, a:visited {
          white-space: normal !important;
        }
      }
    }
  }
}

