table {
  &.width-auto {
		width: auto;
	}
}

a {
  &.text-underline {
    text-decoration: underline;
  }
}

.inline-block {
  display: inline-block;
}

.no-word-break {
  word-break: keep-all;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.no-wrap {
	white-space: nowrap;
}

.text-right {
	text-align: right;
}

.pull-right {
  float: right !important;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

table {
	&.max-width {
		width: 100%;
		table-layout: fixed;
	}
}

/* Does not work on all email clients. */
.hidden {
  display: none;
  height: 0;
  width: 0;
  visibility: hidden;
	max-height: 0;
	overflow: hidden;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}