a {
  &.text-underline {
    text-decoration: underline;
  }
}

.inline-block {
  display: inline-block;
}

td.no-hyphens {
	word-break: normal !important;
	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	hyphens: none !important;
}