a {
  &.text-underline {
    text-decoration: underline;
  }
}

.inline-block {
  display: inline-block;
}

td.no-hyphens {
	word-break: normal !important;
	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	hyphens: none !important;
}

.clearfix {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}