.img-responsive {
	width: 100% !important;
}
img.heading-icon {
  width:80px;
}

.img-border {
  border: 1px solid #737373;
  position: relative;
}

@media only screen and (max-width: 600px) {
	.img-center-sm {
		text-align: center !important;
		img {
			float: none !important;
			display: inline !important;
		}
	}
}