$color-blue: #003876;
$color-dark-blue: $color-blue;
$color-purple: #614F83;
$color-orange: #FB4F14;
$color-green: #3E831C;
$color-light-green: #3E831C;
$color-red: #D74324;
$color-dark-red: #C31126;
$color-berry: #B7295A;
$color-teal: #42AEAF;
$color-lightest-grey: #aaaaaa;
$color-lighter-grey: #eeeeee;
$color-light-grey: #cccccc;
$color-dark-grey: #162c36;
$color-white: #ffffff;

/**/

$text-color: #333333;

$link-color: #016A9C;
$link-hover-color: #016A9C;
$link-visited-color: #016A9C;

$border-color: $color-lightest-grey;

$btn-default-text-color: $color-white;
$btn-default-border-color: #016A9C;
$btn-default-bg-color: #016A9C;
$btn-default-hover-text-color: $color-white;
$btn-default-hover-border-color: #016A9C;
$btn-default-hover-bg-color: #016A9C;

$btn-blue-text-color: $color-white;
$btn-blue-border-color: #016A9C;
$btn-blue-bg-color: #016A9C;
$btn-blue-hover-text-color: $color-white;
$btn-blue-hover-border-color: #016A9C;
$btn-blue-hover-bg-color: #016A9C;

$btn-dark-blue-text-color: $color-white;
$btn-dark-blue-border-color: $color-dark-blue;
$btn-dark-blue-bg-color: $color-dark-blue;
$btn-dark-blue-hover-text-color: $color-white;
$btn-dark-blue-hover-border-color: $color-dark-blue;
$btn-dark-blue-hover-bg-color: $color-dark-blue;

$btn-grey-text-color: #016A9C;
$btn-grey-border-color: $color-light-grey;
$btn-grey-bg-color: $color-lighter-grey;
$btn-grey-hover-text-color: $btn-grey-text-color;
$btn-grey-hover-border-color: #adadad;
$btn-grey-hover-bg-color: #d4d4d4;

$btn-purple-text-color: $color-white;
$btn-purple-border-color: $color-purple;
$btn-purple-bg-color: $color-purple;
$btn-purple-hover-text-color: $color-white;
$btn-purple-hover-border-color: $color-purple;
$btn-purple-hover-bg-color: $color-purple;

$btn-orange-text-color: $color-white;
$btn-orange-border-color: $color-orange;
$btn-orange-bg-color: $color-orange;
$btn-orange-hover-text-color: $color-white;
$btn-orange-hover-border-color: $color-orange;
$btn-orange-hover-bg-color: $color-orange;

$btn-green-text-color: $color-white;
$btn-green-border-color: $color-green;
$btn-green-bg-color: $color-green;
$btn-green-hover-text-color: $color-white;
$btn-green-hover-border-color: $color-green;
$btn-green-hover-bg-color: $color-green;

$btn-light-green-text-color: $color-white;
$btn-light-green-border-color: $color-light-green;
$btn-light-green-bg-color: $color-light-green;
$btn-light-green-hover-text-color: $color-white;
$btn-light-green-hover-border-color: $color-light-green;
$btn-light-green-hover-bg-color: $color-light-green;

$btn-red-text-color: $color-white;
$btn-red-border-color: $color-red;
$btn-red-bg-color: $color-red;
$btn-red-hover-text-color: $color-white;
$btn-red-hover-border-color: $color-red;
$btn-red-hover-bg-color: $color-red;

$btn-dark-red-text-color: $color-white;
$btn-dark-red-border-color: $color-dark-red;
$btn-dark-red-bg-color: $color-dark-red;
$btn-dark-red-hover-text-color: $color-white;
$btn-dark-red-hover-border-color: $color-dark-red;
$btn-dark-red-hover-bg-color: $color-dark-red;

$btn-berry-text-color: $color-white;
$btn-berry-border-color: $color-berry;
$btn-berry-bg-color: $color-berry;
$btn-berry-hover-text-color: $color-white;
$btn-berry-hover-border-color: $color-berry;
$btn-berry-hover-bg-color: $color-berry;

$btn-teal-text-color: $color-white;
$btn-teal-border-color: $color-teal;
$btn-teal-bg-color: $color-teal;
$btn-teal-hover-text-color: $color-white;
$btn-teal-hover-border-color: $color-teal;
$btn-teal-hover-bg-color: $color-teal;

$btn-dark-grey-text-color: $color-white;
$btn-dark-grey-border-color: $color-dark-grey;
$btn-dark-grey-bg-color: $color-dark-grey;
$btn-dark-grey-hover-text-color: $color-white;
$btn-dark-grey-hover-border-color: $color-dark-grey;
$btn-dark-grey-hover-bg-color: $color-dark-grey;